<form action="/add-to-cart" method="POST">
  <input type="hidden" name="productId" value="<%= product.id %>" />
  <button type="submit" class="btn btn-primary" role="button">
    Add to Cart
  </button>
</form>
