<footer aria-labelledby="footer-heading" class="bg-gray-50">
  <div class="border-t border-gray-100 py-10 text-center">
    <p class="text-sm text-gray-500">&copy; 2021 Steele's Wheels.</p>
  </div>
</footer>
