<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="The Steeles Meals website was created as part of a project in a college class. It was created by Mathieu Steele."
    />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      type="text/css"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <!-- <link rel="stylesheet" href="/css/main.css" /> -->
  </head>
</html>
