<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="<%= path === '/' ? 'active' : ''%>">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>

      <li class="<%= path === '/books' ? 'active' : ''%>">
        <a href="/books"
          ><span class="glyphicon glyphicon-book"></span> Books</a
        >
      </li>
    </ul>
  </div>
</nav>
