<%- include('./includes/head.ejs') %>
</head>

<body>
  <main class="container text-center">

    <%- include('includes/nav.ejs') %>
    <h1>Page Not Found!</h1>
    
    <p>The requested resource at <%= requestedPath %> doesn't exist. We do have some <a href="/products">great products</a>. That would be a great place to start.</p>
    
  </main>
<%- include('includes/end.ejs') %>