<%- include('./includes/head.ejs') %>
</head>

<body>
  <main class="container text-center">

    <%- include('includes/nav.ejs') %>
    <h1>Page Not Found!</h1>
    
    <p>there is nothing here</p>
    
  </main>
<%- include('includes/end.ejs') %>