<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
    />
    <!-- <link rel="stylesheet" href="/css/main.css" /> -->
  </head>

  <body>
    <%- include ("../includes/nav.ejs") %>

    <main class="container">
      <h1>Home</h1>

      <p>Visit the Books Page to add books to your collection.</p>
    </main>
  </body>
</html>
